*{
    margin: 0;    
}
.hero{
    height: 100vh;
    width: 100%;    
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;    
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding-left: 110px;
    line-height: 1.1;
}
.hero-left h2{
    color: #090909;
    font-size: 18px;
    font-weight: 600;
}
.hero-left p{
    color: #171717;
    font-size: 60px;
    font-weight: 700;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-hand-icon img{
    width: 60px;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    width: 190px;
    height: 40px;
    border-radius: 75px;
    margin-top: 10px;
    background: #ff4141;
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.hero-right{
    display: flex;
    margin-top: 30px;
    padding-right: 100px;
}